body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:0px 200px;
    /* margin-right: 150px; */
}
.nav-mary{
    color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
.text-orange{
    color: #FD6E0A;
}
  
nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 51px;
  
}

nav li a{
    text-decoration: none;
    color: var(--Dark-02, #474747);
}

.btn{
    border: none;
border-radius: 5px;
background: #FD6E0A;

padding:18px 35px ;
color: white;
font-size: 20px;
font-weight: 700;
}


/* header style */
header{
    background-color: #FFF8F3;
    
}
.banner{
    padding: 30px 30px 30px 200px;
   
    display: flex;
    align-items: center;
    
}
.profil-pic{
    width: 35%;
height: 35%;
}
